[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lytcliubo
[access "refs/for/refs/*"]
	read = group user/lytcliubo
	push = group user/lytcliubo
	label-Code-Review = -2..+2 group user/lytcliubo
	label-Verified = -1..+1 group user/lytcliubo
	rebase = group user/lytcliubo
	removeReviewer = group user/lytcliubo
	submit = group user/lytcliubo
[access "refs/heads/*"]
	read = group user/lytcliubo
	create = group user/lytcliubo
	push = +force group user/lytcliubo
	pushMerge = group user/lytcliubo
[access "refs/tags/*"]
	push = group user/lytcliubo
	push = +force group user/lytcliubo
